# pip install -r requirements.txt -i https://mirrors.aliyun.com/pypi/simple/

pandas>=2.0.0
numpy>=1.24.0
akshare>=1.12.0
openpyxl>=3.1.0
matplotlib>=3.7.0
scikit-learn>=1.3.0

streamlit>=1.49
plotly>=5.18

prophet>=1.1.0
statsmodels>=0.14.0
torch>=2.0.0

pyecharts>=2.0.0